@import url('https://fonts.googleapis.com/css?family=Arvo');

* {
  box-sizing: border-box;
}

html, body, .main
{
height: 100%;
width: 100%;
margin: auto;
font-family: 'Arvo', serif;
background: linear-gradient(gray, white);
}


header
{
text-align: center;
}

.main
{
display: flex;
justify-content: center;
}


.sidetext
{
width: 15%;
height: ;
}

.cercle:hover { 
    background-color: yellow;
}

.cercle
{
  height: 30px;
  width: 30px;
 
  border-radius: 50%;
  display: flex;   
  opacity: .6;

}

.knee
{
position:absolute; 
top: 66%;
left: 39.8%;
background:#0d0d0d;
}

.shoulder
{

position:absolute; 
top: 26%; 
left: 38.5%; 
background:#0d0d0d;
}


.head
{

position:absolute; 
top: 15%; 
left: 41.5%; 
background:#0d0d0d;
}


.arm
{
position:absolute; 
top: 42%; 
left: 45.6%; 
background:#0d0d0d;
}


.hand
{
position:absolute; 
top: 48%; 
left: 37.4%; 
background:#0d0d0d;
}


.foot
{
position:absolute; 
top: 78%; 
left: 42.9%; 
background:#0d0d0d;
}

